@using Microsoft.AspNetCore.Identity
@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject UserManager<IdentityUser> UserManager
<h2>Books List</h2>

@if(User.IsInRole("Owner"))
{
    <p>
        <a class="btn btn-primary" asp-action="New">New Book</a>
    </p>
    
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Book's Title</th>
        <th colspan="2">Book's Genre</th>
            @if (User.IsInRole("Owner"))
            {
                <th>Delete</th>

            }
    </tr>
    </thead>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#books").DataTable({
                ajax: {
                    url: "api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='books/details/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    @if (User.IsInRole("Owner") || User.IsInRole("StoreManager"))
                    {
                        <text>
                    {
                        
                        data: "id",
                        render: function (data, book) {
                            
                                return "<button class='btn btn-secondary js-delete' data-books-id=" + data + ">Delete</button>";
                                
                        }
                    }   
                    </text>    
                    }
                ]
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var table = $("#books").DataTable();
            $("#books").on("click", ".js-delete", function () {
                 
                var button = $(this);
                console.log("ID: " + button.attr("data-books-id"));
                bootbox.confirm({
                    message: "Confirm books delete?",
                    buttons: {
                        confirm: {
                            label: 'Confirm',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/books/" + button.attr("data-books-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                },
                                error: function (request, status, error) {
                                    bootbox.alert({
                                    message: "You don't have access",
                                    })
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
    }